<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml application/xhtml+xml text/javascript application/javascript application/x-javascript
</IfModule>

<IfModule mod_headers.c>
  Header set Content-Range "bytes 0-524287/524288"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Ensure that the Facebook Crawler can crawl the privacy policy
  RewriteRule ^privacy-policy - [L]

  # Allow list Facebook Crawler user agent strings
  SetEnvIfNoCase User-Agent ^facebookexternalhit/1.1 allow_fb_crawler
  SetEnvIfNoCase User-Agent ^facebookcatalog/1.0 allow_fb_crawler
  SetEnvIfNoCase User-Agent ^FacebookBot/1.0 allow_fb_crawler

  # Allow list Facebook Crawler IP addresses
  # Note: Replace the following IP ranges with the current list of IP addresses used by the crawler
  Allow from 2a03:2881:16::/48
  Allow from 2a03:2881:17::/48
  Allow from 2a03:2881:18::/48
  Allow from 2a03:2881:19::/48
  Allow from 2a03:2881:1a::/48
  Allow from 2a03:2881:1b::/48
  Allow from 2a03:2881:1c::/48
  Allow from 2a03:2881:1e::/48
  Allow from 2a03:2881:48::/45
  Allow from 2a03:2881:98::/45
  Allow from 2a03:2881:4000::/48
  Allow from 2a03:2881:4001::/48
  Allow from 2a03:2881:4002::/48
  Allow from 2a03:2881:4003::/48
  Allow from 2a03:2881:4004::/48
  Allow from 2a03:2881:4005::/48
  Allow from 2a03:2881:4006::/48
  Allow from 2a03:2881:4007::/48
  Allow from 2a03:2881:4008::/48
  Allow from 2a03:2881:4009::/48
  Allow from 2a03:2881:400a::/48
  Allow from 2a03:2881:400b::/48
  Allow from 2a03:2881:400c::/48
  Allow from 2a03:2881:400d::/48
  Allow from 2a03:2887:ff2c::/48
  Allow from 2a03:2887:ff2d::/48
  Allow from 2a03:2887:ff42::/48
  Allow from 2a03:83e0::/32
  Allow from 2a10:f781:10:cee0::/64

  Order Deny,Allow
  Deny from all
  Allow from env=allow_fb_crawler
</IfModule>
